.form {
  max-width: 385px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__input {
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
  margin: 8px 0 32px;
  border-radius: 4px;
}

.form__label {
  display: flex;
  flex-direction: column;
}

.form__button {
  color: #fff;
  border-radius: 4px;
  width: 100%;
  border: none;
  padding: 20px 0;
  margin-bottom: 32px;
  background-color: #1878dc;
}

.form__button:hover {
  background-color: #3f96f3;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20p;
}

.form__checkbox {
  border-radius: 2px;
  width: 100px;
  bottom: none;
  padding: 20px;
  margin-bottom: 32;
  background-color: #fff;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #4f4f4f;
  border-radius: 2px;
  color: #2b303a;
}

.form__label_type_checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
}

.form__fieldset {
  display: block;
}
